# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# CatBoost / ML artifacts
catboost_info/
bert_out/

# OS
.DS_Store
Thumbs.db

# Optional large caches
.cache/
models/
